VITE_API_BASE_URL=http://localhost:5000/api
VITE_ZEGO_APP_ID=1966067741
VITE_ZEGO_SERVER_SECRET=a22c2cb15e0f55f1508e8a0338a463a9
VITE_ZEGO_TOKEN_TTL_SECONDS=7200
VITE_RAZORPAY_KEY_ID=rzp_test_SHiAd3DERYjJsk
VITE_FAKEPAY_KEY_SECRET=uRu8tTk1arl1yZZbwVo6f7W8