# Server
PORT=5000

# MongoDB (Docker service name = mongo)
# MONGO_URI=mongodb://mongo:27017/mydb
MONGO_URI=mongodb+srv://anandkadagiak37_db_user:HeE7l6WPPhOAPuqU@cluster0.224vzo5.mongodb.net/?appName=Cluster0

#secret key for jwt
JWT_SECRET="cdef"

#Razorpay credentials
RAZORPAY_KEY_ID=rzp_test_SHiAd3DERYjJsk
RAZORPAY_KEY_SECRET=uRu8tTk1arl1yZZbwVo6f7W8

# Scheduling and cancellation rules
PAYMENT_HOLD_MINUTES=10
NO_SHOW_GRACE_MINUTES=15
LATE_CANCELLATION_WINDOW_HOURS=2
CUSTOMER_REFUND_WINDOW_HOURS=24
