# Server
PORT=5000

# MongoDB (Docker service name = mongo)
# MONGO_URI=mongodb://mongo:27017/mydb
MONGO_URI=mongodb+srv://vishalmachchha1310_db_user:KSpHSaDN8vUC6Mh4@cluster0.6wnzhve.mongodb.net/

#secret key for jwt
JWT_SECRET="cdef"

USER_NAME=vishalmachchha1310_db_user
PASSWORD=KSpHSaDN8vUC6Mh4